<head>
	<% include partial/head.ejs %>
</head>

<title>Admin</title>
<p>Reported:</p>
<% for(var key in reported) { %>
	<% if (reported[key]["reported"] === 1) { %>
		[<%= reported[key]["ip"] %>][<%= new Date(reported[key]["timestamp"]).toLocaleDateString() %>
		<%= new Date(reported[key]["timestamp"]).toLocaleTimeString() %>]
		[<a href="/<%= reported[key]['path'] %>"><%= reported[key]["path"] %></a>]
		<a href="/unreport/<%= reported[key]['path'] %>"><button>Nope</button></a>
		<a href="/delete/<%= reported[key]['path'] %>"><button>Delete upload</button></a>
		<a href="/<%= reported[key]['path'] %>"><%= reported[key]["filename"] %></a>
		<br />
	<% } %>
<% } %>
<p>All:</p>
<% for(var key in reported) { %>
	[<%= reported[key].ip %>][<%= new Date(reported[key].timestamp).toLocaleDateString() %>
	<%= new Date(reported[key].timestamp).toLocaleTimeString() %>]
	[downloaded: <%= reported[key].download_number %>]
	[<a href="/<%= reported[key].path %>"><%= reported[key].path %></a>]
	<a href="/delete/<%= reported[key].path %>"><button>Delete upload</button></a>
	<a href="/<%= reported[key].path %>"><%= reported[key].filename %></a>
	<br />
<% } %>
<p>Banned:</p>
<% for(var key in banned) { %>
	<%= banned[key].ip %>
	<a href="/unban/<%=  banned[key].ip %>"><button>Unban</button></a>
	<br />
<% } %>
