<p>Reported:</p>
<% reported.forEach((item) => { %>
	<p>
		[<%= item.ip %>][<%= new Date(item.timestamp).toLocaleDateString() %> <%= new Date(item.timestamp).toLocaleTimeString() %>]
		<a href="/unreport/<%= item.path %>"><button>Nope</button></a>
		<a href="/delete/<%= item.path %>"><button>Delete upload</button></a>
		<a href="/<%= item.path %>"><%= item.filename %></a>
	</p>
<% }); %>
