<head>
	<% include partial/head.ejs %>
</head>

<title>Download</title>

<link rel="stylesheet" type="text/css" href="css/index.css">

<header>
	<a href="/"><h1>Home</h1></a>
</header>

<div id="container">
	<table>
		<tr>
			<td class="td-left-download td-download">File:</td>
			<td><%= data['filename'] %></td>
		</tr>
		<tr>
			<td class="td-left-download td-download">Size:</td>
			<td class="td-download">
				<% if (data['size'] < 1000) { %>
					<%= data['size'] %> B
				<% }
				else if (data['size'] < 1000000) { %>
					<%= parseInt(data['size'] / 1000) %> KB
				<% }
				else { %>
					<%= (data['size'] / 1000000).toString().substr(0, 4) %> MB
				<% } %>
			</td>
		</tr>
		<tr>
			<td class="td-left-download td-download">Time left:</td>
			<td class="td-download"><%= parseInt(data['deleted'] / 3600) + 'h' + parseInt((data['deleted'] % 3600) / 60) + 'min' %></td>
		</tr>
		<tr>
			<td>Link:</td>
			<td><input type="text" id="input-link" onfocus="this.select();" value="https://www.plus42.fr/<%= data['path'] %>"></td>
		</tr>
	</table>
	<a href="/download/<%= data['path'] %>"><button class="btn btn-download">Download</button></a>
	<a href="/report/<%= data['path'] %>"><button class="btn btn-download">Report</button></a>
	<div id="qrcode-div"><img id="qrcode-img" alt="Qrcode" src="https://chart.googleapis.com/chart?cht=qr&chs=177x177&chl=https://www.plus42.fr/<%= data['path'] %>&chld=L"></div>
</div>
