<title>Download</title>

<link rel="stylesheet" type="text/css" href="css/download.css">

<div id="container">
<a href="/">Home</a>
<p>File: <%= data['filename'] %></p>
<% if (data['size'] < 1000) { %>
	<p>Size: <%= data['size'] %> B</p>
<% }
else if (data['size'] < 1000000) { %>
	<p>Size: <%= parseInt(data['size'] / 1000) %> KB</p>
<% }
else { %>
	<p>Size: <%= (data['size'] / 1000000).toString().substr(0, 4) %> MB</p>
<% } %>
<p>Time left: <%= parseInt(data['deleted'] / 3600) + 'h' + parseInt((data['deleted'] % 3600) / 60) + 'min' %></p>
<a href="/download/<%= data['path'] %>"><button class="btn btn-default">Download</button></a>
<a href="/report/<%= data['path'] %>"><button class="btn btn-default">Report</button></a>
</div>
