<head>
	<% include partial/head.ejs %>
</head>

<title>Download</title>

<link rel="stylesheet" type="text/css" href="css/index.css">

<header>
	<a href="/"><h1>Home</h1></a>
</header>

<div id="container">
	<table>
		<tr>
			<td class="td-left-download">File:</td>
			<td><%= data['filename'] %></td>
		</tr>
		<tr>
			<td class="td-left-download">Size:</td>
			<td>
				<% if (data['size'] < 1000) { %>
					<%= data['size'] %> B
				<% }
				else if (data['size'] < 1000000) { %>
					<%= parseInt(data['size'] / 1000) %> KB
				<% }
				else { %>
					<%= (data['size'] / 1000000).toString().substr(0, 4) %> MB
				<% } %>
			</td>
		</tr>
		<tr>
			<td class="td-left-download">Time left:</td>
			<td><%= parseInt(data['deleted'] / 3600) + 'h' + parseInt((data['deleted'] % 3600) / 60) + 'min' %></td>
		</tr>
	</table>
<a href="/download/<%= data['path'] %>"><button class="btn btn-download">Download</button></a>
<a href="/report/<%= data['path'] %>"><button class="btn btn-download">Report</button></a>
</div>
